/* Styling for the background image */
.bgImg {
    /* Linear gradient and background image combination for the header */
    background-image: linear-gradient(#9d0e0e00, #4f0707), url(/public/image/header-logo.png);
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling for the title logo */
.titleLogo {
    /* Circular logo with white background and red text */
    background-color: white;
    width: min-content;
    padding: 15px 20px;
    border-radius: 50%;
    font-weight: bolder;
    color: red;
}

/* Styling for the container */
.container {
    /* Margin applied to create space from the top */
    margin-top: 60px;
}
