/* Styling for heading */
.heading {
    font-size: 35px;
    color: #192f60;
    border-bottom: 3px solid #192f60;
    width: fit-content;
}

/* Styling for tag */
.tag {
    color: #8c96ab;
    font-size: 18px;
}

/* Styling for meal type */
.mealType {
    color: #192f60;
}

/* Styling for description */
.description {
    color: #8c96ab;
}

/* Flex container for cards */
.cardFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 10vmin;
}

/* Styling for individual card */
.card {
    margin-bottom: 20px;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #8c96ab, 2px 2px 15px #8c96ab;
    text-decoration: none;
}

/* Styling for image inside the card */
.image {
    height: 200px;
    object-fit: cover;
}
