
.container{
    max-width: 80vh;
    min-height: 300px;
   padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    
   
}
.details{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}